In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [7]:
df = pd.read_csv('./dataset/dataset_csv.csv')

In [8]:
df.head()

      AT      V       AP     RH      PE
0   8.34  40.77  1010.84  90.01  480.48
1  23.64  58.49  1011.40  74.20  445.75
2  29.74  56.90  1007.15  41.91  438.76
3  19.07  49.69  1007.22  76.79  453.09
4  11.80  40.66  1017.13  97.20  464.43

In [15]:
X = df.iloc[:,:-1].values
Y = df.iloc[:, -1].values

array([480.48, 445.75, 438.76, ..., 465.96, 450.93, 451.67])